<phpunit bootstrap="vendor/autoload.php" colors="true" verbose="true">
    <testsuites>
        <testsuite name="RdKafka tests">
            <directory>stubs/tests/</directory>
            <directory>class/tests/</directory>
            <file>stubs/tests/RdKafkaTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
